body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  line-height: 1.5;
  color: #fff;
  background-color: #223;
  font-weight: 300;
}

.header {
  /* text-align: center; */
  background-color: #112;
  padding: 4rem;
  border-bottom: 1px solid #223;
}

h1 {
  font-size: 2rem;
  margin: 0 0 0;
}

p {
  /* margin: 0 auto; */
  width: 50%;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(16rem, 1fr));
  grid-auto-rows: 1fr;
  column-gap: 1px;
  row-gap: 1px;
}

.grid::before {
  content: "";
  width: 0;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.grid > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.sound {
  background-color: #112;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 2rem;
  font-size: 1.25rem;
}

.title {
  position: relative;
  z-index: 2;
}

.bar {
  height: 100%;
  background-color: #445;
  width: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  transition: all 0.5s ease;
  z-index: 1;
}
