doctype html
head
	meta(charset="utf-8")
	title Sounds
	meta(name="description" content="Sounds")
	meta(name="author" content="William Miner")
	link(href="https://fonts.googleapis.com/css?family=Roboto+Condensed&display=swap" rel="stylesheet")
	link(rel="stylesheet" href="css/normalize.css")
	link(rel="stylesheet" href="css/main.css")
.container
	.header
		h1 Sounds
		p "Sounds" is a series of short recordings I've made over the years. With the pervasivness of smartphones, most of our memories are captured with photos or video. This (ongoing) project is an attempt to capture a different set of senses.
	.grid
		each file in files
			.item(data-path= file.path)
				.bar
				.title= file.title

script(src="js/jquery.js")
script(src="js/main.js")