doctype html
head
	meta(charset="utf-8")
	title Sounds
	meta(name="description" content="Sounds")
	meta(name="author" content="William Miner")
	link(rel="stylesheet" href="/css/normalize.css")
	link(rel="stylesheet" href="/css/main.css")
.container
	h1 Sounds
	.grid
		each file in files
			.item(data-path= file.path)
				span= file.title

script(src="/js/jquery.js")
script(src="/js/main.js")
